  .con1 {
    position: relative;   
    text-align: center;
    width: 710px;
    height: 440px;

    left: 50%;
    top: 0px;
    transform: translateX(-50%);
    display: grid;

    padding: 0px;
    gap: 10px;

    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 400px;
    grid-template-areas:
      "c2 c3 c4";
  }

  .con {
    position: relative;
    padding: 0px;
    border-radius: 4%;
  }

  .con.con2 {
    grid-area: c2;
    background: url('koloda/maj10.jpg');
    background-size:cover;
  }
  .con.con3 {
    grid-area: c3;
    background: url('koloda/maj14.jpg');
    background-size: cover;
  }
  .con.con4 {
    grid-area: c4;
    background: url('koloda/maj15.jpg');
    background-size: cover;
  }

  .con.con5 {
    grid-area: c2;
    background: url('koloda/wands13.jpg');
    background-size: cover;  
  }

  .con.con6 {
    grid-area: c3;
    background: url('koloda/cups03.jpg');
    background-size: cover; 
  }

  .con.con7 {
    grid-area: c4;
    background: url('koloda/swords01.jpg');
    background-size: cover; 
  }




  @media (max-width: 1095px){
    .con1 {
        position: relative;   
        text-align: center;
        width: 545px;
        height: 325px;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
        display: grid;
        gap: 10px;
    
        grid-template-columns: 175px 175px 175px;
        grid-template-rows: 300px;
        grid-template-areas:
        "c2 c3 c4";
      }
    }



    @media (max-width: 600px){

          .con1 {
            position: relative;   
            text-align: center;
            width: 230px;
            height: 1240px;
            left: 50%;
            top: 0px;
            transform: translateX(-50%);
            display: grid;
            gap: 10px;
        
            grid-template-columns: 230px ;
            grid-template-rows: 400px 400px 400px;
            grid-template-areas:
              "c2"
              "c3"
              "c4";;
          }
    }
    
    @media (max-width: 250px){

      .con1 {
        position: relative;   
        text-align: center;
        width: 100px;
        height: 580px;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
        display: grid;
        gap: 10px;
    
        grid-template-columns: 100px ;
        grid-template-rows: 180px 180px 180px;
        grid-template-areas:
          "c2"
          "c3"
          "c4";;
      }
}            

